{{ define "myinfo_user_details" }}
{{ template "page_open" . }}
<section class="section-stub container">
  <h1 class="section-stub__title">{{ .T.Nav.UserDetails }}</h1>
  {{ if .IsAuthenticated }}
  {{ template "myinfo_nav" . }}
  <dl class="user-details">
    <dt>{{ .T.Auth.MobileLabel }}</dt>
    <dd>{{ .SessionUserMobile }}</dd>
    <dt>{{ .T.Nav.UserDetails }}</dt>
    <dd>{{ .SessionUserName }}</dd>
  </dl>
  {{ else }}
  <p>{{ .T.Section.ComingSoon }}</p>
  {{ end }}
</section>
{{ template "page_close" . }}
{{ end }}
