{{ define "myinfo" }}
{{ template "page_open" . }}
<section class="section-stub container">
  <h1 class="section-stub__title">{{ .T.Nav.MyInfo }}</h1>
  {{ if .IsAuthenticated }}
  <p class="myinfo-welcome">{{ format .T.Auth.WelcomeUser .SessionUserName }}</p>
  {{ template "myinfo_nav" . }}
  {{ end }}
</section>
{{ template "page_close" . }}
{{ end }}
