DATABASE_URL=postgres://task_management_user:password@localhost:5432/task_management?search_path=ftask_management_schema&sslmode=disable&timezone=UTC
DATABASE_TYPE=postgres
APPLICATION_SERVER_PORT=8092
CACHE_SERVICE_URL=http://localhost:8093