DATABASE_URL=postgres://task_management_user:password@localhost:5432/task_management?search_path=ftask_management_schema&sslmode=disable&timezone=UTC
DATABASE_TYPE=postgres
APPLICATION_SERVER_PORT=8092
CACHE_SERVICE_URL=http://localhost:8093
NATS_URL=nats://127.0.0.1:4222
NATS_BROKER_URL=http://localhost:8095
OTP_SUBJECT=notifications.otp.send
OTP_RESEND_SECONDS=120
DEFAULT_COUNTRY_CODE=+98