PORT=8097
BACKEND_API_BASE_URL=http://localhost:8092
CACHE_SERVICE_URL=http://localhost:8093
SESSION_COOKIE_NAME=ads_session
SESSION_TTL=24h
COOKIE_SECURE=false
DEFAULT_COUNTRY_CODE=+98
NATS_URL=nats://127.0.0.1:4222
NATS_BROKER_URL=http://localhost:8095
STATS_SUBJECT=ads.stats.event
STATS_RATE_PER_MIN=60
