{{ define "brand_logo" }}
<span class="brand__logo" aria-hidden="true">
  <img src="{{ asset "img/logo.png" }}" alt="" width="330" height="286" />
</span>
<span class="brand__wordmark" dir="ltr">ruab<span class="brand__tld">.ir</span></span>
{{ end }}
