{{ define "head" }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Title }}</title>
<meta name="description" content="{{ .T.Meta.SiteDescription }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset "css/variables.css" }}" />
<link rel="stylesheet" href="{{ asset "css/reset.css" }}" />
<link rel="stylesheet" href="{{ asset "css/layout.css" }}" />
<link rel="stylesheet" href="{{ asset "css/components.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/query_ads.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/category.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/new_ad.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/ad_detail.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/location_modal.css" }}" />
<link rel="stylesheet" href="{{ asset "css/pages/sea_themes.css" }}" />
<script>
(function () {
  try {
    var id = localStorage.getItem("ruab-sea");
    if (id && id !== "ruab") document.documentElement.setAttribute("data-sea", id);
  } catch (e) {}
})();
</script>
{{ end }}
