{{ define "page_open" }}
<!doctype html>
<html lang="{{ .Lang }}" dir="{{ .Dir }}">
<head>
  {{ template "head" . }}
</head>
<body class="page" dir="{{ .Dir }}">
  {{ template "login_modal" . }}
  {{ template "location_modal" . }}
  {{ template "category_modal" . }}
  {{ template "header" . }}
  <main id="main-content" class="main">
{{ end }}
