{{ define "page_close" }}
  </main>
  {{ template "footer" . }}
  {{ template "api_error_catalog" . }}
  <script defer src="{{ asset "js/api_errors.js" }}"></script>
  <script defer src="{{ asset "js/mobile.js" }}"></script>
  <script defer src="{{ asset "js/login.js" }}"></script>
  <script defer src="{{ asset "js/location_profile.js" }}"></script>
  <script defer src="{{ asset "js/location_modal.js" }}"></script>
  <script defer src="{{ asset "js/category_modal.js" }}"></script>
  <script defer src="{{ asset "js/new_ad.js" }}"></script>
  <script defer src="{{ asset "js/main.js" }}"></script>
</body>
</html>
{{ end }}
